WsdlTest/WsdlTest/Service References/SiteDetailsWS/DomainDetails.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://veshter.com/webservices/sitedetails/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SiteDetails" targetNamespace="http://veshter.com/webservices/sitedetails/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://veshter.com/webservices/sitedetails/">
      <xsd:element name="GetContract">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetContractResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetBalance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resource" type="xsd:string" />
            <xsd:element name="token" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetBalanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Service">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="quantity" type="xsd:float" />
          <xsd:element name="about" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetCurrentBalance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resource" type="xsd:string" />
            <xsd:element name="token" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetCurrentBalanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="balance" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetCurrentContract">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resource" type="xsd:string" />
            <xsd:element name="token" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetCurrentContractResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="services" type="tns:Service" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrentBalanceRequest">
    <wsdl:part name="parameters" element="tns:GetCurrentBalance" />
  </wsdl:message>
  <wsdl:message name="GetCurrentBalanceResponse">
    <wsdl:part name="parameters" element="tns:GetCurrentBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentContractRequest">
    <wsdl:part name="parameters" element="tns:GetCurrentContract" />
  </wsdl:message>
  <wsdl:message name="GetCurrentContractResponse">
    <wsdl:part name="parameters" element="tns:GetCurrentContractResponse" />
  </wsdl:message>
  <wsdl:portType name="SiteDetails">
    <wsdl:operation name="GetCurrentBalance">
      <wsdl:input message="tns:GetCurrentBalanceRequest" />
      <wsdl:output message="tns:GetCurrentBalanceResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentContract">
      <wsdl:input message="tns:GetCurrentContractRequest" />
      <wsdl:output message="tns:GetCurrentContractResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SiteDetailsSOAP" type="tns:SiteDetails">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentBalance">
      <soap:operation soapAction="http://veshter.com/webservices/sitedetails/GetCurrentBalance" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentContract">
      <soap:operation soapAction="http://veshter.com/webservices/sitedetails/GetCurrentContract" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SiteDetails">
    <wsdl:port name="SiteDetailsSOAP" binding="tns:SiteDetailsSOAP">
      <soap:address location="https://secure.veshter.com/webservices/sitedetails.vesh" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>