WsdlTest/WsdlTest/Service References/TokensWS/DomainDetails.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://veshter.com/webservices/tokens/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="tokens2" targetNamespace="http://veshter.com/webservices/tokens/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://veshter.com/webservices/tokens/">
      <xsd:element name="GenerateToken">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resource" type="xsd:string" />
            <xsd:element name="externalToken" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GenerateTokenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="internalToken" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ValidateToken">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resource" type="xsd:string" />
            <xsd:element name="internalToken" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ValidateTokenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="isValid" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InvalidateToken">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="internalToken" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InvalidateTokenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="isInvalid" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GenerateTokenRequest">
    <wsdl:part name="parameters" element="tns:GenerateToken" />
  </wsdl:message>
  <wsdl:message name="GenerateTokenResponse">
    <wsdl:part name="parameters" element="tns:GenerateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateTokenRequest">
    <wsdl:part name="parameters" element="tns:ValidateToken" />
  </wsdl:message>
  <wsdl:message name="ValidateTokenResponse">
    <wsdl:part name="parameters" element="tns:ValidateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="InvalidateTokenRequest">
    <wsdl:part name="parameters" element="tns:InvalidateToken" />
  </wsdl:message>
  <wsdl:message name="InvalidateTokenResponse">
    <wsdl:part name="parameters" element="tns:InvalidateTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="Tokens">
    <wsdl:operation name="GenerateToken">
      <wsdl:input message="tns:GenerateTokenRequest" />
      <wsdl:output message="tns:GenerateTokenResponse" />
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <wsdl:input message="tns:ValidateTokenRequest" />
      <wsdl:output message="tns:ValidateTokenResponse" />
    </wsdl:operation>
    <wsdl:operation name="InvalidateToken">
      <wsdl:input message="tns:InvalidateTokenRequest" />
      <wsdl:output message="tns:InvalidateTokenResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TokensSOAP" type="tns:Tokens">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateToken">
      <soap:operation soapAction="http://veshter.com/webservices/tokens/GenerateToken" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <soap:operation soapAction="http://veshter.com/webservices/tokens/ValidateToken" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvalidateToken">
      <soap:operation soapAction="http://veshter.com/webservices/tokens/InvalidateToken" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tokens">
    <wsdl:port name="TokensSOAP" binding="tns:TokensSOAP">
      <soap:address location="https://secure.veshter.com/webservices/tokens.vesh" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>